@import url("https://fonts.googleapis.com/css2?family=Magra&display=swap");

* {
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-weight: 400 !important;
}

.ff_magra {
  font-family: "Magra", sans-serif;
}

.ff_highspeed {
  font-family: "High Speed" !important;
}

@font-face {
  font-family: "High Speed";
  src: url("./assets/fonts/High\ Speed.otf");
}

:root {
  --fs-xsm: 20px;
  --fs-sm: 22px;
  --fs-md: 49px;
  --fs-lg: 60px;
  --fs-26: 26px;
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_30 {
  font-size: 30px;
}
.fs_16 {
  font-size: 16px;
}
.clr_dark {
  color: #b3b3b4;
}
.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_26 {
  font-size: var(--fs-26);
}

.z_index1 {
  z-index: 50;
}

.z_1 {
  z-index: -1;
}
ul li a {
  position: relative;
}

.body_bg_black {
  background: rgba(0, 0, 0, 0.8);
}

ul li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 50%;
  background: linear-gradient(
    93.43deg,
    #fbf4b7 -10.34%,
    #31cde2 21.29%,
    #5276ff 55.79%,
    #d874ff 96.04%
  );
  transition: 0.6s ease-in-out;
}

ul li a:hover::before {
  transform: translateX(-50%);
  width: 100%;
}

.nav_bg_clr {
  background: rgba(0, 0, 0, 0.3);
}

.header_bg {
  background-image: url(./assets/img/png/header_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Navbtn {
  background-image: url(./assets/img/png/nav_btn_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.6s ease-in-out all;
}

.Navbtn:hover {
  background-image: url("./assets/img/png/btn_more.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.navbtn_set {
  height: 59px;
  width: 204px;
}

.btn_more {
  background-image: url("./assets/img/png/btn_more.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 0.6s ease-in-out all;
}

.btn_more:hover {
  background-image: url(./assets/img/png/nav_btn_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.text_gridient {
  background: linear-gradient(
      93.43deg,
      #fbf4b7 -10.34%,
      #31cde2 21.29%,
      #5276ff 55.79%,
      #d874ff 96.04%
    ),
    linear-gradient(
      180deg,
      #dbe86b 25.41%,
      #d874ff 38%,
      #8cf6b7 44.58%,
      #118fe9 56.73%,
      #31f4f4 62.38%,
      #5276ff 68.04%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradiant_border {
  border: 1px solid transparent;
  filter: blur(1px);
  border-radius: 24px !important;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background: linear-gradient(
        180deg,
        #000000 -3.25%,
        rgba(0, 0, 0, 0) 21.59%,
        rgba(0, 0, 0, 0) 74.6%,
        #000000 91.75%
      )
      padding-box,
    linear-gradient(
      90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%
    ),
    #c4c4c4 border-box;
}

.ryt_icon {
  right: 0;
  top: 20px;
  max-width: 70px;
}

.ryt_blur_light {
  width: 367px;
  height: 367px;
  background: #5476ff;
  filter: blur(70px);
}

.ryt_light {
  right: 0;
  top: -20px;
  width: 100px;
}

.left_icon {
  left: 0;
  bottom: -50px;
  width: 70px;
}

.left_icon {
  left: 0;
  bottom: -50px;
}

.btn_start {
  width: 243px;
  height: 59px;
}

.vh_100_xl {
  min-height: 100vh;
}

.img_text {
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.menu_icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
}

.team_side_light {
  right: 0;
  bottom: 10px;
  width: 70px;
}

.ryt_icon_team {
  right: 0;
  bottom: 10px;
  width: 80px;
}

.left_icon_team {
  left: 0;
  top: 50px;
  width: 70px;
}

.left_icon_cercil_team {
  left: 0;
  top: 200px;
  width: 70px;
}

.box_play {
  background: linear-gradient(
    180deg,
    #f1ff52 6.25%,
    #31cde2 49.08%,
    #d874ff 100%
  );
  opacity: 0.9;
  height: 97px;
  width: 97px;
  border-radius: 50%;
}

.play_box1 {
  background: linear-gradient(180deg, #31cde2 0%, #5276ff 47.57%, #d874ff 100%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.play_box2 {
  background: linear-gradient(180deg, #31cde2 0%, #5276ff 47.57%, #d874ff 100%);
  opacity: 0.8;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  z-index: -1;
}

.mint_bg_btn {
  transform: translate(60px, 50%);
}

.cursor_pointer {
  cursor: pointer;
}

.watch_img_position_adjust {
  height: 130px;
  width: 60px;
  top: 20%;
}

.watch_img_position_adjust {
  animation: small_large 10s linear infinite;
}

@keyframes small_large {
  50% {
    width: 60px;
    height: 10px;
    /* transform: rotateX(180deg); */
  }
}

.blur_circle {
  background: #5476ff;
  filter: blur(100px);
  height: 200px;
  width: 150px;
  top: 10%;
  z-index: 1;
}

.blur_circle {
  animation: opacity_blur 5s linear infinite;
}

@keyframes opacity_blur {
  50% {
    opacity: 0.2;
  }
}

.play_box2 {
  animation: scale_play 5s linear infinite;
}

@keyframes scale_play {
  50% {
    transform: scale(0.8, 0.8);
  }
}
.border_linear_slider {
  backdrop-filter: blur(29.458px);
  border-radius: 47.7046px;
  height: 460px;
  border: 4.28px solid transparent;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      border-box;
}
.footer_border {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      border-box;
  border: 2.28px solid transparent;

  border-radius: 50%;
  height: 46px;
  width: 46px;
}
.footer_border:hover {
  background: linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      padding-box,
    linear-gradient(
        90.44deg,
        #fbf4b7 -6.5%,
        #31cde2 24.17%,
        #5276ff 57.63%,
        #d874ff 96.66%
      )
      border-box;
}
.footer_border:hover svg path {
  fill: white;
}
.line_footer {
  opacity: 0.1;
  border: 1px solid #ffffff;
}
.box_back_top {
  background-color: #07133b;
  width: 20px;
  height: 60px;
  border-radius: 50px;
}
.nft_img1 {
  height: 120px;
  width: 100px;
  top: 10%;
}

.blur_circle2 {
  background: #5476ff;
  filter: blur(100px);
  height: 200px;
  width: 150px;
  top: 0%;
}

.transform_translate {
  transform: translateX(-50%);
  left: 0%;
  bottom: 0;
}

.border_linear_slider {
  height: 400px;
}

.slide_img {
  transform: translateY(-5%);
  height: 450px !important;
}

.slick-center .border_linear_slider {
  height: 450px;
  transform: translateY(-10%);
}

.slick-center .slide_img {
  transform: translateY(-5%);
  height: 500px !important;
}

.w_100_lg {
  width: 100%;
}

.button_prev {
  background: linear-gradient(
    90.44deg,
    #fbf4b7 -6.5%,
    #31cde2 24.17%,
    #5276ff 57.63%,
    #d874ff 96.66%
  );
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 5;
}

.left_5 {
  left: 5%;
}

.right_5 {
  right: 5%;
}

.accordiyan_box {
  background: #07133b !important;
  border-radius: 15px;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: #141f45 !important;
  box-shadow: unset !important;
}

.accordion-button {
  background-color: #141f45 !important;
}

.accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-btn-color: transparent !important;
  --bs-accordion-active-bg: transparent !important;
  --bs-accordion-btn-focus-box-shadow: unset !important;
  --bs-accordion-btn-icon-transform: rotate(-90deg) !important;
  --bs-accordion-border-radius: 0.375rem;
  transition: 0.6s ease-in-out !important;
}

.accordion-body {
  padding-top: 0 !important;
  padding-left: 5px !important;
  margin-left: 50px !important;
  max-width: 800px;
  padding-bottom: 20px !important;
  border-bottom: 1px solid #0b37d7;
}

.accordiyan_bg {
  background-color: #141f45 !important;
}

.accordion-button {
  font-weight: 500 !important;
  color: white !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.accordion-button::after {
  rotate: 0deg !important;
  background-image: url("./assets/img/png/up_vector.png") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("./assets/img/png/dawn_vector.png") !important;
  rotate: 90deg !important;
  background-color: #141f45 !important;
}

button:focus:not(:focus-visible) {
  outline: 0 !important;
}

.accordion-item {
  border: 1px solid transparent !important;
  background: transparent !important;
  border-radius: 10px;
}

.accordion-button:not(.collapsed) {
  -webkit-background-clip: text;
  background-color: white !important;
  background-clip: text;
  box-shadow: unset !important;
}

.faq_bg {
  background-image: url(./assets/img/png/faq_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.top_65 {
  top: 60% !important;
}
@media (max-width: 1200px) {
  .width_adjust {
    width: 100% !important;
  }
  .vh_100_xl {
    min-height: unset;
  }

  :root {
    --fs-xsm: 20px;
    --fs-sm: 18px;
    --fs-md: 40px;
    --fs-lg: 60px;
  }
}

@media (max-width: 992px) {
  .navOpen {
    position: fixed;
    top: 0;
    left: -100%;
    background: linear-gradient(
      90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%
    );
    transition: 0.5s ease-in-out;
    height: 100vh;
    width: 100%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navClose {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
      90.44deg,
      #fbf4b7 -6.5%,
      #31cde2 24.17%,
      #5276ff 57.63%,
      #d874ff 96.66%
    );
    transition: 0.5s ease-in-out;
    height: 100vh;
    width: 100%;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transform_translate {
    transform: translate(-50%) !important;
    left: 50%;
  }

  .w_100_lg {
    width: 100%;
  }

  .border_linear_slider {
    height: 300px;
  }

  .slide_img {
    transform: translateY(-5%);
    height: 350px !important;
  }

  .slick-center .border_linear_slider {
    height: 330px;
    transform: translateY(-10%);
  }

  .slick-center .slide_img {
    transform: translateY(-5%);
    height: 400px !important;
  }
  .slick-list {
    overflow: visible;
    width: 100%;
  }

  .slick-track {
    width: 100%;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

  .fs_30 {
    font-size: 25px;
  }

  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 49px;
    --fs-lg: 45px;
    --fs-26: 26px;
  }
}

@media (max-width: 768px) {
  .height_adjust {
    height: 300px !important;
  }

  .border_linear_slider {
    height: 400px;
  }

  :root {
    --fs-xsm: 20px;
    --fs-sm: 18px;
    --fs-md: 40px;
    --fs-lg: 60px;
  }

  .border_linear_slider {
    height: 360px;
  }

  .slide_img {
    transform: translateY(-5%);
    height: 420px !important;
  }

  .slick-center .border_linear_slider {
    height: 400px;
    transform: translateY(-10%);
  }

  .slick-center .slide_img {
    transform: translateY(-5%);
    height: 450px !important;
  }

  .accordion-body {
    padding-left: 5px !important;
    margin-left: 5px !important;
  }

  .fs_30 {
    font-size: 22px;
  }

  :root {
    --fs-xsm: 20px;
    --fs-sm: 22px;
    --fs-md: 35px;
    --fs-lg: 40px;
    --fs-26: 26px;
  }
}

@media (max-width: 576px) {
  :root {
    --fs-xsm: 20px;
    --fs-sm: 16px;
    --fs-md: 25px;
    --fs-lg: 30px;
  }

  .box_play {
    height: 70px;
    width: 70px;
  }

  .play_box1 {
    height: 55px;
    width: 55px;
  }

  .play_box2 {
    height: 80px;
    width: 80px;
  }
}
