
.line_1_Set{
    left: 150px;
    top: 70px;
}
.star_img_set{
    top: 20px;
    left: -70px;
    transform: translateX(100px);
}
.star_circel{
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 21px 83px rgba(134, 39, 255, 0.5);
    backdrop-filter: blur(9.9734px);
    border-radius: 50%;
}