ul li a {
    position: relative;
}

.body_bg_black {
    background: rgba(0, 0, 0, 0.8);
}

ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 50%;
    background: linear-gradient(93.43deg, #FBF4B7 -10.34%, #31CDE2 21.29%, #5276FF 55.79%, #D874FF 96.04%);
    transition: 0.6s ease-in-out;
}

ul li a:hover::before {
    transform: translateX(-50%);
    width: 100%;
}

.nav_bg_clr {
    background: rgba(0, 0, 0, 0.3);
}

.header_bg {
    background-image: url(./assets/img/png/header_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.Navbtn {
    background-image: url(./assets/img/png/nav_btn_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.6s ease-in-out all;
}

.Navbtn:hover {
    background-image: url("./assets/img/png/btn_more.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbtn_set {
    height: 59px;
    width: 204px;
}

.btn_more {
    background-image: url("./assets/img/png/btn_more.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.6s ease-in-out all;
}

.btn_more:hover {
    background-image: url(./assets/img/png/nav_btn_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text_gridient {
    background: linear-gradient(93.43deg,
            #fbf4b7 -10.34%,
            #31cde2 21.29%,
            #5276ff 55.79%,
            #d874ff 96.04%),
        linear-gradient(180deg,
            #dbe86b 25.41%,
            #d874ff 38%,
            #8cf6b7 44.58%,
            #118fe9 56.73%,
            #31f4f4 62.38%,
            #5276ff 68.04%),
        linear-gradient(0deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradiant_border {
    border: 1px solid transparent;
    filter: blur(1.px);
    border-radius: 24px !important;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: linear-gradient(180deg, #000000 -3.25%, rgba(0, 0, 0, 0) 21.59%, rgba(0, 0, 0, 0) 74.6%, #000000 91.75%) padding-box,
        linear-gradient(90.44deg, #FBF4B7 -6.5%, #31CDE2 24.17%, #5276FF 57.63%, #D874FF 96.66%), #C4C4C4 border-box;
}

.ryt_icon {
    right: 0;
    top: 20px;
    max-width: 70px;
}

.ryt_blur_light {
    width: 367px;
    height: 367px;
    background: #5476FF;
    filter: blur(100px);
}

.ryt_light {
    right: 0;
    top: -20px;
    width: 100px;
}

.left_icon {
    left: 0;
    bottom: -50px;
    width: 70px;
}

.left_icon {
    left: 0;
    bottom: -50px;
}

.btn_start {
    width: 243px;
    height: 59px;
}

.vh_100_xl {
    min-height: 100vh;
}

.menu_icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
}

@media (max-width:992px) {
    .navOpen {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #31cde2;
        transition: 0.5s ease-in-out;
        height: 100vh;
        width: 100%;
        z-index: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .navClose {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #31cde2;
        transition: 0.5s ease-in-out;
        height: 100vh;
        width: 100%;
        z-index: 8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .vh_100_xl {
        min-height: 0vh;
    }
}